body, nav, main{
  display: grid;
  margin:0;
  padding:0;
}

body{
  grid-template-columns: [navigation] 17% [content] auto [rightmargin] 20px [end];
  grid-template-rows: [tippytop] 42px [topnavend] auto [end];
  font-family: 'Noto Sans', sans-serif;
  position: fixed;
  width: 100%;
  height: 100%;
}

nav{
  background-color: #f7f7f9;
  border-right: 1px solid #eee;
  grid-column: navigation / content;
  grid-row: tippytop / end;

  display: flex;
  flex-direction: column;
}

main{
  grid-column: content / end;
  grid-row: tippytop / end;

  grid-template-columns: [leftgutter] 20px [centercontent] auto [rightgutter] 20px [end];
  overflow-y: scroll;
}

main section{
  grid-column: centercontent / rightgutter;
}

body header{
  grid-column: centercontent / rightgutter;
  font-size: 2.5rem;
  font-weight: bold;
  border-bottom: 1px solid #eee;
}

section{
  display: grid;
  grid-column-gap: 20px;
  grid-auto-flow: dense;
}

section.analytics-list
{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}

section.article-list
{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

/* at medium width */
@media (max-width: 1024px) {

  nav{
    border-right: none;
    border-bottom: 1px solid #eee;
    grid-column: navigation / end;
    grid-row: tippytop / topnavend;

    display: flex;
    flex-direction: row;
  }

  nav a{
    text-align: center;
    height: 42px;
  }

  nav a:first-child{
    margin-top: 0;
  }

  main{
    grid-column: navigation / end;
    grid-row: topnavend / end;

    grid-template-columns: [leftgutter] 20px [centercontent] auto [rightgutter] 20px [end];
  }


  section.analytics-list{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

/* at small width */
@media (max-width: 544px){
  section.analytics-list{
    display: flex;
    flex-direction: column;
  }

  section.article-list{
    grid-template-columns: auto;
    grid-template-rows: repeat(2, 1fr);
  }
}


/* section figure sizing */

section.analytics-list figure{
  padding: 10px;
}

section.analytics-list figure figcaption{
  text-align: center;
}

section.analytics-list figure figcaption h4{
  margin-top: 12px;
  margin-bottom: 0;
}

section.analytics-list figure figcaption p{
  color: #818a91;
  margin-top: 2px;
}


/* Image sizing etc */
figure img.circularize{
  border-radius: 50%;
  width: 100%;
  height: auto;
}

/* Links / Anchors */
a{
  padding: 10px;
  color: #0275d8;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  text-decoration: none;
}

a:first-child{
  margin-top: 20px;
}

a:hover{
  color: #000;
}

a.current{
  background-color: #0275d8;
  color: #FFF;
}

/* headers */
h4{
  font-size: 1.5rem;
  font-weight: 500;
}


/* Images inside of paragraphs */
p img{
  float: left;
  margin-right: 10px;
}