html, body{
  display: -ms-grid;
}

nav{
  display: -ms-flexbox;
}


body{
  -ms-grid-columns: 17% auto 20px;
  -ms-grid-rows: 42px auto;
}

main{
  display: -ms-grid;
  -ms-grid-column: 2;
  -ms-grid-row: 2;
  grid-template-columns: 20px auto 20px;
}

main section{
  display: -ms-grid;
  -ms-grid-column: 2;
}

body header{
  display: -ms-grid;
  -ms-grid-column: 2;
}

section{
  display: -ms-grid;
  -ms-grid-column-gap: 20px;
  -ms-grid-auto-flow: dense;
}

section.analytics-list
{
  -ms-grid-row: 2;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
}

section.article-list
{
  -ms-grid-row: 3;
  -ms-grid-columns: 1fr 1fr;
  -ms-grid-rows: auto;
}

/* at medium width */
@media (max-width: 1024px) {

  nav{
    -ms-grid-column: 2;
    -ms-grid-row: 1;

    display: -ms-flex;
    flex-direction: row;
  }

  main{
    -ms-grid-column: 2;
    -ms-grid-row: 2;
    -ms-grid-columns: 20px auto 20px;
  }


  section.analytics-list{
    -ms-grid-row:2;
    -ms-grid-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
  }
}

/* at small width */
@media (max-width: 544px){
  section.article-list{
    -ms-grid-row:3;
    -ms-grid-columns: auto;
    -ms-grid-rows: 1fr 1fr;
  }
}

/* Image sizing etc */
figure img.circularize{
  border-radius: 100%;
  width: 100%;
  height: auto;
}
